#brand_more {
			.bgcolor {
				background: #fff;
				border-bottom: 0;
			}
	header{
			width:100%;
			position:fixed;
			// background: #fff;
			height: 45px;
			z-index:10;
				a{
				width: 20%;
				height: 45px;
				line-height: 45px;
				text-align: center;
					span{
						font-size: 20px;
						color:#fff;
					}
						.focus {
							color: #000;
							font-size: 20px;
						}
				}
				.left{
					float: left;
				}
				.right{
					position: relative;
					float: right;
					.iconfont{
						font-size: 30px;
					}
					.three{
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						bottom:0;
						width: 0;
						height:0;
						border-right:10px solid rgba(255,255,255,0);
						border-bottom: 10px solid hsla(0,0%,96%,.96);
						border-left: 10px solid rgba(255,255,255,0)
					}
				}
			.center{
				width: 60%;
				line-height:45px;
				height: 45px;
				font-size: 16px;
				color: #000;
				text-align:center;
				font-weight: 700;
				float:left;
			}
			ul{
				position: absolute;
				right: 0;
				top:45px;
				width:25%;
				height:150px;
				background:hsla(0,0%,96%,.96);
				z-index:1;
				li{
					height: 50px;
					padding:0 15px;
					box-sizing: border-box;
					a{
						display:inline-block;
						height: 50px;
						line-height: 50px;
						text-align: center;
						width: 100%;
						border-bottom: 1px solid #ccc;
						color: #000;
						text-decoration: none
					}
					.bu{
						border: 0;
					}
				}
			}
		}

	ul::-webkit-scrollbar {
		display: none;
	}
	.brandImg {
		position: relative;
		img {
			width: 100%;
			display: block;
		}
		h1 {
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 18px;
			text-align: center;
			color: #fff;
			font-size: 22px;

		}
		span {
				display: block;

				width: 80px;
				height: 30px;
				line-height: 30px;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: -10px;
				background: #000;
			a {
				color: #fff;
				display: block;
				text-align: center;
			}
		} 
	}
	.brandban {
		width: 100%;
		height: 60px;
		line-height: 60px;
		text-align: center;
		margin-top: 8px;
		color: #aaa;
		font-size: 12px;
		em {
			font-style: normal;
			color: #666;
		}
	}
	.branddes {
		padding: 20px;
		p {
			color: #aaa;
			line-height: 25px;
			color: #666;
			overflow: hidden;
		}
		span {
			display: block;
			height: 43px;
			line-height: 43px;
			text-align:center;
			color: #f60;
		}
	}
		
	.newup,.hotstyle {
		padding-left: 13px;
		h2 {
			margin-bottom:20px;
			width: 100%;
			height: 20px;
			background: url('/images/newhot.png') no-repeat;
			background-size: contain;
		}
		.swiper {
			ul {
				margin-top: 10px;
				display: flex;
				overflow-x: scroll;
				overflow-y: hidden;
				li {
					text-align: center;
					position: relative;
					flex: 1;
					padding-right:5px;
					img {
					width: 135px;
					height: 180px;
					display: block;
					margin-bottom: 10px;
					}
					span {
						width: 135px;
						height: 180px;
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						background: #000;
						z-index: 1;
						opacity: .1
					}
					em {
						font-size: 12px;
						text-align: center;
						font-style: normal;
						margin-top: 10px;
					}
					em.line {
						text-decoration: line-through;
						color: #666;
					};
				}
			}
		}
	}

	.hotstyle {
		margin-top: 20px;
		h2 {
			width: 100%;
			height: 20px;
			background: url('/images/newarrive.png') no-repeat;
			background-size: contain;
		}
	}

	.goodthing {
		padding-left: 13px;
		h2 {
			margin-top:20px;
			width: 100%;
			height: 20px;
			background: url('/images/goodrec.png') no-repeat;
			background-size: contain;
		}
	}	
		.location {
			position: fixed;
			left: 0;
			top: 20px;
			z-index: 100;
			border: none;
		}
		ul.myheader {
			margin-top:20px;
			display: flex;
			overflow: auto;
			border-bottom: 1px solid #666;
			background: #fff;
			border: none;
			li {
				text-align: center;
				flex: 1;
				span {
					display: block;
					width: 89px;
					height: 43px;
					line-height: 43px;
					color: #999;
					position:relative;
				}
				span.active {
					color: black;
					font-weight:700;
				}
				span.active::after {
					position:absolute;
					bottom: 4px;
					left: 50%;
					transform:translateX(-50%);
					display: block;
					content: "";
					height: 4px;
					width: 30px;
					background: #666;
				}
				
			}
		}
		ul.first {
			display: flex;
			flex-wrap: wrap;
			li {
				width: 50%;
				text-align: center;
				img {
					width:165px;

				}
				.detail {
					div {
						margin: 3px;
						text-align: left;
						padding-left: 13px;
						em {
							font-style: normal;
							font-weight: bold
						}
					}

						div:nth-child(1) {
							span {
								border: 1px solid #000;
								margin-right: 2px;
							}
						}
						div:nth-child(3) {
							em {
								display: inline-block;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								width:100%;
							}
						}
						.last {
							span {
								margin-right: 4px;
							}
							span:nth-child(1) {
								color: red;
								font-size: 12px;
							}
							span:nth-child(2) {
								color: #ccc;
								font-size: 9px;
								text-decoration: line-through;
							}
							span:nth-child(3) {
								float: right;
							}
						}
				}
			}
		}

	
	.show {
		height: 300px;
	}

	.hide {
		height: 84px;
	}
	

}
