.banner{
	position: relative;
	div{
		position: absolute;
		top:70%;
		color: #fff;
		text-align: center;
		width: 100%;
		h2{
			margin-bottom: 10px;
			font-size: 28px;
		}
		p{
			margin-bottom: 10px;
		}
	}
}