.header{
	height:44px;
	display:flex;
	align-items:center;
	overflow:hidden;
	text-align:center;
	margin-bottom: 10px;
	.up{
		margin-left:20px;
		width:32px;
		height:32px;
		 background:#eee;
		
		i{
			line-height:32px;
			font-size:18px;
		}

	}
	.center{
		background:#ccc;
		
	}
	.down{
		
		width:67px;
		height:43px;
		font-size:16px;
		line-height:43px;
	}
}
.history{
	font-weight:11;
	margin-left:20px;

}