#headPendulum{
	display: flex;
	height:44px;
	div.back{
		width:50px;
		text-align:center;
		height:100%;
		span{
			display: inline-block;
			height:100%;
			width:100%;
			line-height:44px;
			font-size:18px;
		}
	}
}