#headPendulum{
	display: flex;
	height:44px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:1;
	background:rgba(255,255,255,.8);
	div{
		width:50px;
		text-align:center;
		height:100%;
	}
	span.iconfont{
			display: inline-block;
			height:100%;
			width:100%;
			line-height:44px;
			font-size:18px;
		}
	div.data{
		flex:1;
		display: flex;
		box-sizing: border-box;
		padding-top:10px;
		flex-direction:column;
		span{
			flex:1;
			display: block;
			width:100%;
			height:auto;
			line-height:auto;
			z-index:2;
		}
		span.productPrice{
			color:#dd2828;
			font-weight: 800;
			font-size:12px;
		}
		span.productName{
			font-weight: 800;
		}
	}
	div.menu{
		position:relative;
		ul{
			position:absolute;
			right:0;
			top:45px;
			background:#eee;
			li{
				height:57px;
				line-height: 57px;
				font-size:16px;
				width:115px;
				padding:0 5%;
				a{
					width:100%;
					display: block;
					color:#000;
					border-bottom:1px solid #ccc;
				}
			}
		}
	}
}