
	.activeheader{
	position:relative;
	font-weight:100;
	cursor: none;
}
.activeheader:after{
	left: 50%;
  	transform:translate(-50%);
	content:"";
	position: absolute;
	height:2px;
	width:16px;
	opacity: 1;
	background:white;
	bottom:-4px;
}
*{
	margin:0;
	padding: 0;

}
li{
	list-style:none;
}

.alltab{

	width:100%;
	position:relative;
	left:0;
	top:0;
	overflow:scroll;
	ul.tabbar{
		padding-left:7px;
		// overflow:auto;
		height:50px;
		width:400px;
		display:flex;
		justify-content: space-between;
			
		li{
			
			 line-height:50px;		
			a{	
				color:white;			
				font-size:14px;
			}
		}
	}
}
a{
	text-decoration:none;
}

	



.allheader{
	z-index:10;
	position:fixed;
	left:0;
	top:0;
	color:white;
	width:100%;
	ul.head{
		width: 100%;
		display:flex;
		height: 40px;
		
		align-items:center;
		text-align:center;
		li.first{
			width:13.5%;
			text-align:center;
			line-height:40px;
			font-size:14px;
			
		}
		li.two{
			height:34px;
			display:flex;
			justify-content:center;
				width:74%;
				div{
					width:250px;
					opacity:0.5;
					line-height:34px;
					font-size:14px;

				}
		}
		li.last{
			width:12.5%;
			i{
				font-size:24px;
			}
		}
	}
}
