#detail{
	background:#fff;
	div.cont{
		padding:0 6%;
		padding-bottom:80px;
		div.swipe{
			box-shadow: #ddd 2px 2px 2px,#ddd -2px 0 2px;
			margin-bottom:10px;
			touch-action:none;
		}
		div.desp{
			h1{
				font-size: 19px;
				font-weight: 400;
				padding-bottom:10px;
				margin:0;
			}
			del{
				font-size:12px;
				display: block;
				color:#ccc;
				padding:5px 0px;
			}
			strong{
				font-size:16px;
				color:#f00;
			}
			span.likea{
				border:1px solid #000;
				font-size:12px;
				margin-left:15px;
				display: inline-block;
				padding:2px;
			}
			div.guess{
				margin-top:10px;
				border-bottom:1px solid #ddd;
				span{
					font-size:13px;
					color:#666;
					padding-bottom:30px;
					display:inline-block;
				}
			}
			div.lis{
				padding:20px 0;
				border-bottom:1px solid #ddd;
				overflow:hidden;
			}
			div.title{
				color:#666;
				font-size:14px;
				width:50px;
				height:32px;
				float:left;
			}
			div.discounts span{
				background:#f00;
				color:#fff;
				font-size:12px;
				padding:2px;
			}
			div.promotion span{
				display: block;
				overflow: hidden;
    			text-overflow: ellipsis;
    			white-space: nowrap;
    			color:#dd2828;
    			font-weight: 700;
    			font-size:16px;
			}
			div.serve span{
				font-size:12px;
				padding:0 10px;
				display: inline;
				border-right:1px solid #666;
				color:#666;
			}
			div.serve span:nth-of-type(1){
				padding-left:0;
			}
			div.serve span:last-child{
				// padding-left:0;
				border:none;
			}
			div.size span{
				background:#f4f4f4;
				padding:3px 5px;
				margin-right:10px;
				display: inline-block;
			}

		}
		div.list_parameter{
			border-bottom:1px solid #ddd;
			h3{
				font-weight: 800;
				margin:0;
				padding:20px 0;
			}
			ul{
				padding-bottom:20px;
			}
			li{
				padding-bottom:10px;
			}
			label{
				width:110px;
				color:#999;
				display: inline-block;
			}
			span{
				line-height:20px;
			}
		}
		div.show{
			border-bottom:1px solid #ddd;
			h3{
				padding:20px 0;
				margin:0;
				font-weight: 800;
			}
			img{
				width:100%;
			}
			p{
				font-size:12px;
				color:#000;
				padding-bottom:20px;
			}
		}
		div.maintain{
			border-bottom:1px solid #ddd;
			border-top:1px solid #ddd;
			p{
				color:#666;
				padding-bottom:30px;
			}
		}
		div.brand{
			h3{
				padding:20px 0;
				overflow: hidden;
				margin:0;
				a{	display: block;
					color:#333;
					padding:10px 0;
					overflow: hidden;
					strong{
						font-weight: 800;
						font-size:20px;
						display: block;
						float:left;
					}
					span{
						float:right;
						color:#666;
						font-size:14px;
						display: block;
					}
				}
			}
			img{
				width:100%;
				padding-top:20px;
				padding-bottom:10px;
			}
			p{
				color:#000;
				font-size:14px;
				line-height:18px;
			}
		}
		div.stopword{
			border-top:1px solid #ddd;
			border-bottom:1px solid #ddd;
			img{
				width:110%;
				margin-left:-5%;
			}
		}
		div.comment{
			border-bottom:1px solid #ddd;
			h3{
				margin:0;
				padding:20px 0;
				font-weight: 800;
				span{
					font-weight: 400;
				}
				a{
					float: right;
					font-weight: 400;
					font-size:14px;
					color:#666;
				}
			}
		}
		div.recommend{
			overflow: hidden;
			h3{
				margin:0;
				padding:20px 0;
				font-weight: 800;
			}
			div{
				a{
					color:#000;
				}
				width:50%;
				float: left;
				box-sizing: border-box;
				img{
					width:100%;
				}
				span.brand{
					font-weight:800;
					display: block;
				}
				span.name{
					padding:5px 0;
					display: block;
					white-space: nowrap;
    				text-overflow: ellipsis;
    				overflow: hidden;
    				font-size:12px;
				}
				span.price{
					color:#dd2828;
					font-weight: 800;
					font-size:13px;
				}
				del{
					color:#ccc;
					font-size:12px;
					margin-left:6%;
				}
				span.discount{
					float:right;
					font-size:12px;
					color:#666;
				}
			}
			div:nth-of-type(odd){
				padding-right:2%;
			}
			div:nth-of-type(even){
				padding-left:2%;
			}
		}
	}
	#nav{
		position:fixed;
		bottom:0;
		height:50px;
		width:100%;
		line-height:50px;
		text-align: center;
		display: flex;
		background:#fff;
		border-top:1px solid #ccc;
		margin-left:-6%;
		div.left{
			width:75px;
			display: inline-block;
			font-size:12px;	
		}
		div.right{
		    width:100%;
		    display:flex;
		    border-left:1px solid #ccc;
		    span{
		    	display: block;
		    	flex:1;
		    	font-weight: 800;
		    	font-size:17px;
		    }
		    span.buy{
		    	color:#dd2828;
		    	border-left:1px solid 	#ccc;
		    }
		}
	}
}
