#indexf{
	width: 100%;
	img{
		width: 100%
	}
	.banner{
		position:relative;
		.title{
			position: absolute;
			left: 50%;
			transform:translateX(-50%);
			top: 75%;
			text-align: center;
			color: #fff;
			h2{
				font-size: 28px
			}
		}
	}
};